{% extends 'base.html' %}
{% load static %}

{% block title %}Seleccionar menu{% endblock title %}

{% block header %}
	<h1 class="container">Seleccionar Menu</h1>
{% endblock header %}


{% block content %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            Desea seleccionar este menú?
        </div>
        <form class="form" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit" class="btn btn-sm btn-primary">Aceptar</button>
            <a href="/diner" class="btn btn-sm btn-danger">Cancelar</a>
        </form>
    </div>
{% endblock content %}