{% extends 'base.html' %}
{% load static %}

{% block title %}comedor{% endblock title %}

{% block header %}
	<h1 class="container">Comedor</h1>
{% endblock header %}

{% block content %}
	<div class="container">
		<h4>Menu de hoy {{timeNow}} {{hour}}hs </h4>
		<small>NOTA: Solo puede escoger un combo antes de las 11</small>
		<div class="row">
			{% for combo in menu.combo.all %}
			<div class="col-md-6">
				<div class="card mb-3">
					<form method="POST" action="">
						{% csrf_token %}
						<input type="hidden" name="menu" value="{{menu.id}}">
						<div class="card-body">
							<h4><img src="{% static 'imgs/menu-today.svg' %}" alt="menu" width="40" class="mr-2"> {{ combo.name }} </h4>
							<ul class="list-group">
								{% for food in combo.food.all %}
								<li class="list-group-item">
									<span>
										{% if food.type_f == 'ensalada' %}
										<img src="{% static 'imgs/salad.svg' %}" alt="salad" width="20">
										{% elif food.type_f == 'principal' %}
										<img src="{% static 'imgs/principal.svg' %}" alt="principal" width="20">
										{% elif food.type_f == 'postre' %}
										<img src="{% static 'imgs/sweet.svg' %}" alt="sweet" width="20">
										{% else %}
										<img src="{% static 'imgs/none.svg' %}" alt="none" width="20">
										{% endif %}
									</span> 
									{{food.name}} 
									{% if food.exceptions.all %}
										<small>Indique los ingredientes que no desea en su plato</small>  
										{% for ingredient in food.exceptions.all %}
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="ingredient_{{ingredient.id}}" value="{{ingredient.id}}" id="ingredient_{{ingredient.name}}" name="exceptions">
											<label class="form-check-label" for="ingredient_{{ingredient.name}}">
												Sin {{ingredient.name}}
											</label>
										</div>
										{% endfor %}
									{% endif %}
								</li>			
								{% endfor %}
							</ul>
							<span class="d-inline-block" tabindex="0" {% if hour > 11 %}  title="Solo puede seleccionar un solo combo al dia antes de las 11hs" data-toggle="tooltip" {% endif %}>
								<button type="submit" class="btn btn-primary mt-3  ">
									Seleccionar <!-- {% if hour > 11 or last_menu == menu.id %} disabled {% endif %} -->
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>	
			{% endfor %}
		</div>
	</div>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
{% endblock content %}