{% extends 'base.html' %}
{% load static %}

{% block title %}Eliminar empleado{% endblock title %}

{% block header %}
	<h1 class="container">Eliminar empleado</h1>
{% endblock header %}


{% block content %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            Está seguro de eliminar el empleado "{{object.first_name}} {{object.last_name}}"?
        </div>
        <form class="form" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-primary">Aceptar</button>
            <a href="{% url 'food_list_view' %}" class="btn btn-sm btn-danger">Cancelar</a>
        </form>
    </div>
{% endblock content %}